.container {
	float: center;
	margin-left: 10%;
	margin-right: 10%;
}

.column {
	float: left;
	width: 50%;
	background-color: rgb(255, 154, 118);
}

.row:after {
	content: "";
	display: table;
	clear: both;
}